@tailwind base;
@tailwind components;
@tailwind utilities;

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.form-button {
  left: 21.5rem;
  top: -1.25rem;
}

.cancel-button {
  top: -1.25rem;
  left: 22.5rem;
}
